<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HOD Dog CRUD in NodeJS</title>
</head>
<body>

<h2>Editar Registro</h2>
  <% data.forEach(function(details) { %>
    <form action="/edit/<%= details._id %>" method="POST">
      <input type="text" value="<%= details.name %>" name="name">
      <input type="text" value="<%= details.type %>" name="type">
      <br />
      <button><a href="/show">ALL HOT DOGS</a></button>
      <button type="submit">EDIT</button>
    </form>
  <% }) %>

</body>
</html>
